.club_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left; 
    height: 6vw;
    background-color: #eeeeee;
}

.title {
    font-family: 'Noto Sans TC', sans-serif;
    color: #524f4f;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    margin-left: 1.5vw;
}

.club_icon {
    margin-left: 2vw;
    height: 4vw;
    width: auto;
}

.bar_icon {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .title {
        font-size: 18px;
        letter-spacing: 3px;
        margin-left: 5px;
    }
    .club_icon {
        margin-left: 5px;
    }
    .club_logo {
        justify-content: center;
        height: 50px;
    }
}

.space_word {
    background-color: #eeeeee;
    height: 6vw;
    width: 9vw;
}

.navbar_home {
    font-family: 'Noto Sans TC', sans-serif;
    color: #524f4f;
    font-size: 1.7vw;
    background: #eeeeee;
    height: 6vw;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar_home:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

.navbar_maker_camp {
    font-family: 'Noto Sans TC', sans-serif;
    color: #524f4f;
    font-size: 1.7vw;
    background: #eeeeee;
    height: 6vw;
    width: 9vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar_maker_camp:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

.navbar_club_course {
    font-family: 'Noto Sans TC', sans-serif;
    color: #524f4f;
    font-size: 1.7vw;
    background: #eeeeee;
    height: 6vw;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar_club_course:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

.navbar_competition {
    font-family: 'Noto Sans TC', sans-serif;
    color: #524f4f;
    font-size: 1.7vw;
    background: #eeeeee;
    height: 6vw;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar_competition:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

.navbar_contact_us {
    font-family: 'Noto Sans TC', sans-serif;
    color: #524f4f;
    font-size: 1.7vw;
    background: #eeeeee;
    height: 6vw;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar_contact_us:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap');