.club_course_whole_page {
    height: 142vw;
}

.cover {
    height: 30vw;
    background-color: rgb(60, 78, 168);
}

.cover_photo {
    position: absolute;
    right: 0vw;
    height: 30vw;
}

.cover_title {
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(241, 241, 241);
    position: absolute;
    top: 13vw;
    left: 10vw;
    font-size: 3vw;
    letter-spacing: 0.15vw;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap');

.cover_subtitle {
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(241, 241, 241);
    position: absolute;
    top: 19.5vw;
    left: 10vw;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
}

.under_cover {
    height: 16vw;
    display: flex;
    justify-content: center;
}

.description {
    font-family: 'Noto Sans TC', sans-serif;
    position: absolute;
    top: 37vw;
    font-size: 2vw;
    letter-spacing: 0.1vw;
    z-index: 3;
}

.scroll_down_gif {
    position: absolute;
    top: 43vw;
    width: 5vw;
}

.player_course {
    height: 30vw;
    background-color: #F1E1FF;
    display: flex;
    align-items: center;
}

.player_photo {
    width: 30vw;
    position: absolute;
    right: 9vw;
}

.player_title {
    font-family: 'Noto Sans TC', sans-serif;
    position: absolute;
    top: 56vw;
    left: 10vw;
    font-size: 3vw;
    letter-spacing: 0.15vw;
}

.player_subtitle {
    position: absolute;
    top: 63vw;
    left: 10vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    line-height: 3vw;
}

.player_learn_more_semicircle {
    height: 4vw;
    width: 10vw;
    border-radius: 5rem 5rem 5rem 5rem;
    position: absolute;
    top: 72vw;
    left: 10vw;
    background-color: #16236e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_learn_more_semicircle:hover {
    background-color: #4b589e;
    cursor: pointer;
}

.player_learn_more_text {
    color: #dddddd;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3vw;
}

.notion_course {
    height: 30vw;
    background-color: #E6CAFF;
    display: flex;
    align-items: center;
}

.notion_photo {
    width: 30vw;
    position: absolute;
    right: 9vw;
}

.notion_title {
    font-family: 'Noto Sans TC', sans-serif;
    position: absolute;
    top: 85vw;
    left: 10vw;
    font-size: 3vw;
    letter-spacing: 0.15vw;
}

.notion_subtitle {
    position: absolute;
    top: 92vw;
    left: 10vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    line-height: 3vw;
}

.notion_learn_more_semicircle {
    height: 4vw;
    width: 10vw;
    border-radius: 5rem 5rem 5rem 5rem;
    position: absolute;
    top: 101vw;
    left: 10vw;
    background-color: #16236e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notion_learn_more_semicircle:hover {
    background-color: #4b589e;
    cursor: pointer;
}

.notion_learn_more_text {
    color: #dddddd;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3vw;
}

.clock_course {
    height: 30vw;
    background-color: #F1E1FF;
    display: flex;
    align-items: center;
}

.clock_photo {
    width: 30vw;
    position: absolute;
    right: 9vw;
}

.clock_title {
    font-family: 'Noto Sans TC', sans-serif;
    position: absolute;
    top: 114vw;
    left: 10vw;
    font-size: 3vw;
    letter-spacing: 0.15vw;
}

.clock_subtitle {
    position: absolute;
    top: 121vw;
    left: 10vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    line-height: 3vw;
}

.clock_learn_more_semicircle {
    height: 4vw;
    width: 10vw;
    border-radius: 5rem 5rem 5rem 5rem;
    position: absolute;
    top: 130vw;
    left: 10vw;
    background-color: #16236e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock_learn_more_semicircle:hover {
    background-color: #4b589e;
    cursor: pointer;
}

.clock_learn_more_text {
    color: #dddddd;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3vw;
}