.club_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left; 
    height: 6vw;
}

.title {
    font-family: 'jf-open';
    color: #524f4f;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    margin-left: 1.5vw;
}
/* each width 180px */

.space_word {
    background-color: white;
    height: 6vw;
    width: 9vw;
}

.navbar_home {
    font-family: 'jf-open';
    color: #524f4f;
    font-size: 1.7vw;
    background: white;
    height: 6vw;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar_home:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

.navbar_maker_camp {
    font-family: 'jf-open';
    color: #524f4f;
    font-size: 1.7vw;
    background: white;
    height: 6vw;
    width: 9vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar_maker_camp:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

.navbar_club_course {
    font-family: 'jf-open';
    color: #524f4f;
    font-size: 1.7vw;
    background: white;
    height: 6vw;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar_club_course:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

.navbar_competition {
    font-family: 'jf-open';
    color: #524f4f;
    font-size: 1.7vw;
    background: white;
    height: 6vw;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar_competition:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

.navbar_contact_us {
    font-family: 'jf-open';
    color: #524f4f;
    font-size: 1.7vw;
    background: white;
    height: 6vw;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar_contact_us:hover {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}

@font-face {
    font-family: 'jf-open';
    src: url('../fonts/GenJyuuGothic-Regular.ttf') format("truetype");
}