.inside_contact {
    background-color: #333333;
    height: 46vw;
}

.contact_title {
    font-family: 'jf-open';
    font-size: 3vw;
    position: absolute;
    top: 8vw;
    left: 5vw;
    color: #dddddd;
    letter-spacing: 0.1vw;
}

.location_title {
    font-family: 'jf-open';
    font-size: 2.5vw;
    position: absolute;
    top: 21vw;
    left: 5vw;
    color: #bdc6fa;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.location_address {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 26.8vw;
    left: 5vw;
    color: #bdc6fa;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.club_email_icon {
    position: absolute;
    top: 32.9vw;
    left: 5vw;
    color: #bdc6fa;
}

.club_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 30.4vw;
    left: 8vw;
    color: #bdc6fa;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.ED_google_map {
    width: 50vw;
    height: 46vw;
    position: absolute;
    top: 6vw;
    right: 0vw;
}

.contact_people {
    background-color: white;
    height: 103vw;
}

.chairperson_title {
    font-family: 'jf-open';
    font-size: 2.5vw;
    position: absolute;
    top: 60vw;
    left: 5vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.chairperson_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 66vw;
    left: 5vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.chairperson_email_icon {
    position: absolute;
    top: 71vw;
    left: 5vw;
    color: #16236e;
}

.chairperson_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 68.5vw;
    left: 8vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.chairperson_phone_icon {
    position: absolute;
    top: 74vw;
    left: 5.15vw;
    color: #16236e;
}

.chairperson_phone {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 71.3vw;
    left: 8vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.chairperson_separate_line {
    color: #16236e;
    border-color: #16236e;
    width: 20vw;
    height: 0.2vw;
    position: absolute;
    left: 5vw;
    top: 65.6vw;
    background: #16236e;
}

.PR_title {
    font-family: 'jf-open';
    font-size: 2.5vw;
    position: absolute;
    top: 80vw;
    left: 55vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.PR_separate_line {
    color: #16236e;
    border-color: #16236e;
    width: 20vw;
    height: 0.2vw;
    position: absolute;
    left: 55vw;
    top: 85.6vw;
    background: #16236e;
}

.PR_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 86vw;
    left: 55vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.PR_email_icon {
    position: absolute;
    top: 91vw;
    left: 55vw;
    color: #16236e;
}

.PR_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 88.5vw;
    left: 58vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.PR2_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 94vw;
    left: 55vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.PR2_email_icon {
    position: absolute;
    top: 99vw;
    left: 55vw;
    color: #16236e;
}

.PR2_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 96.5vw;
    left: 58vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.PR3_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 102vw;
    left: 55vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.PR3_email_icon {
    position: absolute;
    top: 107vw;
    left: 55vw;
    color: #16236e;
}

.PR3_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 104.5vw;
    left: 58vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.teaching_leader_title {
    font-family: 'jf-open';
    font-size: 2.5vw;
    position: absolute;
    top: 80vw;
    left: 5vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.teaching_leader_separate_line {
    color: #16236e;
    border-color: #16236e;
    width: 20vw;
    height: 0.2vw;
    position: absolute;
    left: 5vw;
    top: 85.6vw;
    background: #16236e;
}

.teaching_leader_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 86vw;
    left: 5vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.teaching_leader_email_icon {
    position: absolute;
    top: 91vw;
    left: 5vw;
    color: #16236e;
}

.teaching_leader_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 88.5vw;
    left: 8vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.teaching_leader2_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 94vw;
    left: 5vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.teaching_leader2_email_icon {
    position: absolute;
    top: 99vw;
    left: 5vw;
    color: #16236e;
}

.teaching_leader2_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 96.5vw;
    left: 8vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.teaching_leader3_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 102vw;
    left: 5vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.teaching_leader3_email_icon {
    position: absolute;
    top: 107vw;
    left: 5vw;
    color: #16236e;
}

.teaching_leader3_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 104.5vw;
    left: 8vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.internet_manager_title {
    font-family: 'jf-open';
    font-size: 2.5vw;
    position: absolute;
    top: 60vw;
    left: 55vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.internet_manager_separate_line {
    color: #16236e;
    border-color: #16236e;
    width: 20vw;
    height: 0.2vw;
    position: absolute;
    left: 55vw;
    top: 65.6vw;
    background: #16236e;
}

.internet_manager_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 66vw;
    left: 55vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.internet_manager_email_icon {
    position: absolute;
    top: 71vw;
    left: 55vw;
    color: #16236e;
}

.internet_manager_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 68.5vw;
    left: 58vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

@font-face {
    font-family: 'jf-open';
    src: url('../fonts/GenJyuuGothic-Regular.ttf') format("truetype");
}

.AD_title {
    font-family: 'jf-open';
    font-size: 2.5vw;
    position: absolute;
    top: 116vw;
    left: 5vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.AD_separate_line {
    color: #16236e;
    border-color: #16236e;
    width: 20vw;
    height: 0.2vw;
    position: absolute;
    left: 5vw;
    top: 121.6vw;
    background: #16236e;
}

.AD_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 122vw;
    left: 5vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.AD_email_icon {
    position: absolute;
    top: 127vw;
    left: 5vw;
    color: #16236e;
}

.AD_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 124.5vw;
    left: 8vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.doc_title {
    font-family: 'jf-open';
    font-size: 2.5vw;
    position: absolute;
    top: 136vw;
    left: 5vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.doc_separate_line {
    color: #16236e;
    border-color: #16236e;
    width: 20vw;
    height: 0.2vw;
    position: absolute;
    left: 5vw;
    top: 141.6vw;
    background: #16236e;
}

.doc_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 142vw;
    left: 5vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.doc_email_icon {
    position: absolute;
    top: 147vw;
    left: 5vw;
    color: #16236e;
}

.doc_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 144.5vw;
    left: 8vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.GA_title {
    font-family: 'jf-open';
    font-size: 2.5vw;
    position: absolute;
    top: 116vw;
    left: 55vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.GA_separate_line {
    color: #16236e;
    border-color: #16236e;
    width: 20vw;
    height: 0.2vw;
    position: absolute;
    left: 55vw;
    top: 121.6vw;
    background: #16236e;
}

.GA_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 122vw;
    left: 55vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.GA_email_icon {
    position: absolute;
    top: 127vw;
    left: 55vw;
    color: #16236e;
}

.GA_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 124.5vw;
    left: 58vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

.GA2_name {
    font-family: 'jf-open';
    font-size: 2vw;
    position: absolute;
    top: 130vw;
    left: 55vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}

.GA2_email_icon {
    position: absolute;
    top: 135vw;
    left: 55vw;
    color: #16236e;
}

.GA2_email {
    font-family: 'jf-open';
    font-size: 1.5vw;
    position: absolute;
    top: 132.5vw;
    left: 58vw;
    color: #16236e;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}