.loading_page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading_title {
    font-family: 'jf-open';
    font-size: 3vw;
    letter-spacing: 0.1vw;
    position: absolute;
    top: 35vh;
}

@font-face {
    font-family: 'jf-open';
    src: url('../fonts/GenJyuuGothic-Regular.ttf') format("truetype");
}