.summer_camp_photo {
    height: 27vw;
    position: absolute;
    right: 3.5vw;
    top: 63vw
}

.summer_camp_entrance {
    background: white;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

.summer_camp_title {
    font-family: 'jf-open';
    position: absolute;
    top: 60.7vw;
    left: 5vw;
    font-size: 3vw;
    color: #333333;
    letter-spacing: 0.1vw;
}

.separate_line_summer_camp {
    color: rgba(224, 14, 14, 0.774);
    border-color: rgba(224, 14, 14, 0.774);
    width: 50vw;
    height: 0.5vw;
    position: absolute;
    left: 5vw;
    top: 67.7vw;
    background: rgba(224, 14, 14, 0.774);
}

.summer_camp_text {
    font-family: 'jf-open';
    color: #dddddd;
    font-size: 1.9vw;
    position: absolute;
    left: 5vw;
    top: 70.7vw;
    letter-spacing: 0.1vw;
    line-height: 4vw;
}

@font-face {
    font-family: 'jf-open';
    src: url('../fonts/GenJyuuGothic-Regular.ttf') format("truetype");
}