.under_cover_three_intro {
    background-color: white;
    position: absolute;
    top: 37vw;
    width: 100%;
    height: 120vw;
    display: flex;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&display=swap');

@font-face {
    font-family: 'Noto Sans TC', sans-serif;
    src: url('../fonts/TaipeiSansTCBeta-Regular.ttf') format("truetype");
}

.three_intro_title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2vw;
    letter-spacing: 0.1vw;
}

.home_scroll_down_gif {
    width: 5vw;
    position: absolute;
    top: 6vw;
}

.camp_photo {
    height: 30vw;
    position: absolute;
    top: 15vw;
    left: 55vw
}

.first_intro_title {
    position: absolute;
    top: 24vw;
    left: 10vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2vw;
    color: black;
}

.first_intro_text {
    position: absolute;
    top: 28.5vw;
    left: 10vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3vw;
}

.first_intro_title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.course_photo {
    height: 30vw;
    position: absolute;
    top: 55vw;
    left: 10vw;
}

.second_intro_title {
    position: absolute;
    top: 63.5vw;
    left: 59vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2vw;
    color: black;
}

.second_intro_title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.second_intro_text {
    position: absolute;
    top: 68vw;
    left: 59vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3vw;
}

.competition_photo {
    height: 40vw;
    position: absolute;
    top: 100vw;
}

.third_intro_title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2vw;
    color: black;
}

.third_intro_title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.third_intro_text {
    position: absolute;
    top: 94.5vw;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3vw;
}

.competition_link {
    height: 5vw;
    position: absolute;
    top: 90vw;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}